<section id="stores_edit">
	<h1>Modificando Local</h1>

	<%= render 'form' %>

	<div id="stores_edit_options">
		<ul>
			<li><%= link_to 'Mostrar', @store %></li>
			<li><%= link_to 'Volver', stores_path %></li>
		</ul>
	</div>
</section>