<section id="stores_title_part">
  <hgroup id="stores_title">
    <h1>Locales</h1>
  </hgroup>
</section>

<section id="stores_index">
  <table>
    <tr>
      <th>Nombre</th>
      <th>Direccion</th>
    </tr>

    <% @stores.each do |store| %>
      <tr>
        <td><%= link_to store.name, store %></td>
        <td><%= store.address %></td>      
      </tr>
    <% end %>
  </table>
  <div id="stores_new_options">
    <%= link_to 'Crear nuevo local', new_store_path %>
  </div>
</section>