<section id="stores_index">
  <h1>Locales Registrados</h1>

  <table>
    <tr>
      <th>Nombre</th>
      <th>Direccion</th>
    </tr>

    <% @stores.each do |store| %>
      <tr>
        <td><%= link_to store.name, store %></td>
        <td><%= store.address %></td>      
      </tr>
    <% end %>
  </table>
  <% if can? :create, Store.new %>
    <div id="stores_new_options">
      <%= link_to 'Crear nuevo local', new_store_path %>
    </div>
  <% end %>
</section>