<section id="entry_folders_edit">
	<h1>Editing entry_folder</h1>

	<%= render 'form' %>

	<div id="entry_folders_edit_options">
		<ul>
			<li><%= link_to 'Mostrar', @entry_folder %></li>
			<li><%= link_to 'Volver', entry_folders_path %></li>
		</ul>
	</div>
</section>