<section class="entry_folders_title_part">
  <hgroup class="entry_folders_title">
    <h1>Nuevo Registro de Ingreso</h1>
  </hgroup>
</section>

<section id="entry_folders_new">

	<%= render 'form' %>

	<div id="entry_folders_new_options">
		<%= link_to 'Volver', entry_folders_path %>
	</div>
</section>