<section id="clients_title_part">
  <hgroup id="clients_title">
    <h1>Modificando cliente</h1>
  </hgroup>
</section>

<section id="clients_edit">
	<%= render 'form' %>
</section>

<div id="clients_edit_options">
	<ul>
		<li><%= link_to 'Mostrar', @client %></li>
		<li><%= link_to 'Volver', clients_path %></li>
	</ul>
</div>