<section id="clients_edit">
	<h1>Editando Clientes</h1>

	<%= render 'form' %>

	<div id="clients_edit_options">
		<ul>
			<li><%= link_to 'Mostrar', @client %></li>
			<li><%= link_to 'Volver', clients_path %></li>
		</ul>
	</div>
</section>