<section id="clients_title_part">
  <hgroup id="clients_title">
    <h1>Nuevo Cliente</h1>
  </hgroup>
</section>

<section id="clients_new">

	<% if @client.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>
			<ul>
				<% @client.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<%= render 'form' %>
</section>

<div id="clients_new_options">
	<%= link_to 'Volver', clients_path %>
</div>