<li class="first_level_item"><%= link_to "Clientes", :clients %></li>
<li class="first_level_item"><%= link_to "Cotizaciones", nil %></li>
<li class="first_level_item"><%= link_to "Documentos", :output_folders %></li>