<% unless current_user.role? "SuperAdmin" %>
	<section id="real_index_block">
		<h1>BIENVENIDO A PUKARA</h1>
		<h2>Utiliza las opciones en la barra superior para utilizar el sistema</h2>
	</section>
<% else %>
	<section id="config">
		<h1>CONFIGURACION</h1>
		<section>
			<h2>Tipos de clientes</h2>
			<div>
				<%= link_to "Mostrar", client_type_index_path %>
			</div>		
		</section>
		<section>
			<h2>Tipos de documentos</h2>
			<div>
				<%= link_to "Mostrar",document_type_index_path %>
			</div>
		</section>
		<section>
			<h2>Tipos de Precios</h2>
			<div>
				<%= link_to "Mostrar", price_type_index_path %>
			</div>
		</section>
		<section>
			<h2>Tipos de Productos</h2>
			<div>
				<%= link_to "Mostrar", product_type_index_path %>
			</div>
		</section>
	</section>
<% end -%>