<section id="br_index">
	<hgroup id="br_title">
		<h1>Buscar Cotizacion</h1>
	</hgroup>
</section>

<section id="search_quotation">
	<%= form_tag quotation_search_path, :remote => true do %>
		<div class="search_quotation_form_div">
			<%= label_tag "code", "Código:" %><br>
			<%= text_field_tag "code" %>
		</div>
		<div class="search_quotation_form_div_submit">
			<%= submit_tag "Buscar" %>
		</div>
	<% end %>

	<div id="search_response">
	</div>
</section>
