<section id="br_index">
	<hgroup id="br_title">
		<h1>Nueva Cotizacion</h1>
	</hgroup>
</section>

<section id="new_quotation">
	<%= form_tag quotation_new_path, :remote => true do %>
		<div>
			

		</div>
	<% end %>
</section>