<section id="output_folders_edit">
	<h1>Editando Registro de Salida</h1>

	<%= render 'form' %>

	<div id="output_folders_edit_options">
		<ul>
			<li><%= link_to 'Mostrar', @output_folder %></li>
			<li><%= link_to 'Volver', output_folders_path %></li>
		</ul>
	</div>
</section>