<section id="quotation_title_part">
	<hgroup id="quotation_title">
		<h1>Buscar cotizacion</h1>
	</hgroup>
</section>

<section id="search_quotation_index">
	<%= form_tag quotation_search_path,:id => "search_for_quotation", :remote => true do |f| %>
		<div class="search_quotation_div">
			<%= label_tag "code", "Código:" %><br>
			<%= text_field_tag "code" %>
		</div>
		<div class="search_quotation_div">
			<%= submit_tag "Buscar" %>
		</div>
	<% end %>
</section>

<section id="search_response">
	
</section>