<section id="sell_price_register">
	<h1>Registro de Precios para venta</h1>
	<div id="show_price">
		<% @folder.entry_document_details.each do |edd| %>
			<table>
				<tr>
					<th>Producto</th>
					<th>Tipo de Precio</th>
					<th>Valor</th>
				</tr>
				
				<% edd.sell_prices.each do |sp| %>
					<tr>
						<td><%= edd.product.full_name %></td>
						<td><%= sp.price_type.name %></td>
						<td><%= sp.sell_price %></td>
					</tr>
				<% end %>
			</table>
		<% end %>
	</div>
</section>