#client_type_index{
	h1{
		width: 196px;
		margin: 0 auto;
		padding: 5px;
		text-transform: uppercase;
		font-weight: bold;
	}
	background: white;
	width: 1000px;
	margin: 0 auto;
	padding: 10px;
	border: 1px solid black;
	.client_type_item{
		overflow: hidden;
		padding: 10px;
		margin: 5px;
		span{
			float: left;
		}
		.client_type_row_options{
			float: right;
			overflow: hidden;
			.link_to_destroy_client_type, .destroy_client_type{
				float: left;
				margin-right: 10px;
			}
			.link_to_update_client_type, .update_client_type{
				float: right;
			}
		}
	}
	#create_client_type{
		width: 279px;
		margin: 0 auto;
		padding: 5px 10px 10px 10px;
		h1{
			width: 180px;
			padding: 5px;
			margin: 5px auto;
			font-weight: normal;
			text-transform: none;
		}
	}
}
