#document_type_title_part{
	#document_type_title{
		width: 1000px;
		h1{
			width: 400px;
			font-size: 30px;
			color: white;
			background: #272727;
			text-align: center;
			text-transform: uppercase;
			padding: 20px;
		}
	}
}

#document_type_index{
	width: 800px;
	margin: 10px auto;
	padding: 10px;
	.document_type_item{
		overflow: hidden;
		width: 600px;
		margin: 10px auto;
		span{
			float: left;
			padding: 8px;
		}
		.document_type_row_options{
			width: 70px;
			float: right;
			overflow: hidden;
			.destroy_document_type{
				float: left;
				margin: 8px;
				display: block;
				form{
					width: 10px;
				}
			}
			img{
				margin: 8px;
			}
		}
		&:hover{
			background: #00b0e3;
			span{
				color: white;
			}
		}
	}
	.update_document_type{
		display: none;
		text-align: center;
		form{
			width: 450px;
			margin: 0 auto;
			background: #ccc;
			padding: 10px;
			.dt_update_form_div{
				font-family: 'Dosis', sans-serif;
				a{
					background: #272727;
					color: white;
					text-decoration:none;
					padding: 8px;
					&:hover{
						background: #00b0e3;
					}
				}
			}
			.dt_update_form_div_submit{
				display: none;
			}
			&:hover{
				background: #bbb;
			};
		}
	}
}

#create_document_type{
	width: 600px;
	margin: 0 auto;
	background: #ccc;
	text-align: center;
	padding: 6px 10px 15px;
	h1{
		width: 400px;
		margin: 5px auto;
		text-align: center;
		font-size: 13px;
		color: white;
	}
	.dt_create_form_div{
		font-family: 'Dosis', sans-serif;
		a{
			background: #272727;
			color: white;
			text-decoration:none;
			padding: 8px;
			&:hover{
				background: #00b0e3;
			}
		}
	}
	.dt_create_form_div_submit{
		display: none;
	}
	&:hover{
		background: #aaa;
	}
}