#entry_folders_index{
	#entry_folders_title{
		width: 1000px;
		h1{
			width: 400px;
			font-size: 30px;
			color: white;
			background: #272727;
			text-align: center;
			text-transform: uppercase;
			padding: 20px;
		}
	}
}
#entry_folders_main_index{
	.entry_folders_box{
		width: 1000px;
		margin: 10px auto;
		.entry_folders_supplier_part{
			.entry_folders_supplier_name{
				text-align: center;
				color: white;
				font-family: 'Dosis', sans-serif;
				width: 400px;
				background: #272727;
				padding: 10px;
				font-size: 15px;
				text-transform: uppercase;
				font-weight: bold;
				margin: 0px 0px 10px 0px;
			}
		}
		.entry_folders_data_part{
			padding: 10px;
			width: 800px;
			margin: 0 auto;
			table{
				width: 800px;
				tr{
					th{
						padding: 7px;
						font-family: 'Dosis', sans-serif;
						font-weight: bold;
						background: #272727;
						color: white;
					}
					td{
						padding: 6px;
						background: white;
						text-align: center;
						font-family: 'Dosis', sans-serif;
						a{
							text-decoration: none;
							padding: 7px;
							display: block;
							&:hover{
								background: #00b0e3;
							}							
						}
					}
					td:last-child{
						&:hover{
							background: #00b0e3;
							a{
								color: white;
							}
						}
					}
				}
			}
		}
		&:hover{
			.entry_folders_supplier_part .entry_folders_supplier_name{
				background: #00b0e3;
			}
		}
	}
	#entry_folders_new_options{
		a{
			width: 300px;
			color: white;
			background: #aaa;
			text-align: center;
			margin: 10px auto;
			display: block;
			font-family: 'Dosis', sans-serif;
			font-size: 16px;
			text-decoration: none;
			text-transform: uppercase;
			padding: 13px 10px;
			&:hover{
				background: #00b0e3;
			}
		}
	}
}