.output_folders_title_part{
	.output_folders_title{
		width: 1000px;
		h1{
			width: 400px;
			font-size: 30px;
			color: white;
			background: #272727;
			text-align: center;
			text-transform: uppercase;
			padding: 20px;
		}
	}
}

#output_folder_index{
	#of_inner_nav_bar{
		width: 660px;
		margin: 10px auto;
		overflow: hidden;
		li{
			float: left;
			width: 180px;
			padding: 10px;
			text-align: center;
			background: #aaaaaa;
			margin: 10px;
			color: white;
			text-transform: uppercase;
			font-weight: bold;
			cursor: pointer;
			&:hover{
				background: #00bce3;	
			}
		}
		.selected{
			background: #00bce3;
		}
	}
	#of_data_part{
		width: 900px;
		margin: 10px auto;
		.classified_by_folder_state{
			width: 800px;
			margin: 10px auto;
			display: block;
			table{
				width: 600px;
				padding: 10px;
				margin: 0 auto;
				th, td{
					text-align: center;
				}
				th{
					padding: 10px;
					background: #272727;
					color: #FFFFFF;
				}
				td{
					color: #191919;
					border-bottom: 1px solid #191919;
					a{
						text-decoration: none;
						padding: 10px;
						display: block;
						&:hover{
							background: #00bce3;
						}
					}
				}
			}
		}
	}
	#output_folders_new_options{
		width: 400px;
		margin: 10px auto;
		text-align: center;
		a{
			width: 200px;
			padding: 10px;
			background: #272727;
			color: white;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			&:hover{
				background: #00bce3;
			}
		}
	}
}

#output_folders_new_options{
	a{
		width: 300px;
		color: white;
		background: #aaa;
		text-align: center;
		margin: 10px auto;
		display: block;
		font-family: 'Dosis', sans-serif;
		font-size: 16px;
		text-decoration: none;
		text-transform: uppercase;
		padding: 13px 10px;
		&:hover{
			background: #00b0e3;
		}
	}
}

#output_folders_new, #output_folders_edit{
	width: 900px;
	margin: 0 auto;
	border: 1px solid black;
	padding: 10px;
	background: white;
	h1{
		margin: 3px auto 0px;
		width: 300px;
		text-align: center;
		font-size: 15px;
		font-weight: bold;
		text-transform: uppercase;
	}
	form{
		width: 700px;
		margin: 0 auto;
		padding: 10px;
		.field{
			display: block;
			margin: 5px auto;
			width: 209px;
			padding: 3px;
		}
		.actions{
			width: 300px;
			margin: 0 auto;
			text-align: center;
			input{
				display: inline-block;
			}
		}
		#document_part{
			text-align: center;
			width: 600px;
			margin: 10px auto;
			padding: 10px;
			overflow: hidden;
			text-align: center;
			.doc_row{
				width: 200px;
				background:darkgray;
				padding: 5px;
				display: inline-block;
				margin: 5px;
			}
			#add_doc{
				width: 600px;
				text-align: center;
				margin: 10px auto 10px;
				a{
					margin: 0 auto;
					width:200px;
					text-align: center;
				}
			}
		}
		#doc_detail_part{
			width: 600px;
			margin: 0 auto;
			.doc_detail_row{
				background: lightgray;
				width: 400px;
				margin: 5px auto;
				padding: 10px;
			}
			#add_doc_detail{
				width: 600px;
				text-align: center;
				margin: 10px auto 30px;
				a{
					margin: 0 auto;
					width:200px;
					text-align: center;
				}
			}
		}
	}
	#output_folders_new_options{
		width: 300px;
		padding: 3px;
		margin: 6px auto 3px;
		text-align: center;
	}
	#output_folders_edit_options{
		width: 300px;
		margin: 15px auto 0px;
		text-align: center;
		ul{
			display: inline-block;
			text-align: center;
			overflow: hidden;
			li{
				display: inline-block;
				padding: 5px;
				float: left;
			}
		}	
	}
}

#output_folders_show{
	width: 900px;
	margin: 0 auto;
	border: 1px solid black;
	padding: 10px;
	background: white;
	h1{
		margin: 3px auto 15px;
		width: 300px;
		text-align: center;
		font-size: 15px;
		font-weight: bold;
		text-transform: uppercase;
	}
	p{
		width: 250px;
		display: block;
		margin: 3px auto;
		b{
			font-weight: bold;
		}
	}
	#document_part{
		width:600px;
		margin: 0 auto;
		text-align: center;
		.doc_row{
			display: inline-block;
			border: 1px solid black;
			padding: 10px;
			margin: 5px;
		}
	}
	#document_detail_part{
		width: 600px;
		margin: 0 auto;
		text-align: center;
		.detail_row{
			display: inline-block;
			border: 1px solid black;
			padding: 10px;
			margin: 5px;
		}
	}
	#output_folders_show_options{
		width: 300px;
		margin: 15px auto 0px;
		text-align: center;
		ul{
			display: inline-block;
			text-align: center;
			overflow: hidden;
			li{
				display: inline-block;
				padding: 5px;
				float: left;
			}
		}
	}
}