.output_folders_title_part{
	.output_folders_title{
		width: 1000px;
		h1{
			width: 400px;
			font-size: 30px;
			color: white;
			background: #272727;
			text-align: center;
			text-transform: uppercase;
			padding: 20px;
		}
	}
}

#output_folder_index{
	#of_inner_nav_bar{
		width: 660px;
		margin: 10px auto;
		overflow: hidden;
		li{
			float: left;
			width: 180px;
			padding: 10px;
			text-align: center;
			background: #aaaaaa;
			margin: 10px;
			color: white;
			text-transform: uppercase;
			font-weight: bold;
			cursor: pointer;
			&:hover{
				background: #00bce3;	
			}
		}
		.selected{
			background: #00bce3;
		}
	}
	#of_data_part{
		width: 900px;
		margin: 10px auto;
		.classified_by_folder_state{
			width: 800px;
			margin: 10px auto;
			display: block;
			table{
				width: 600px;
				padding: 10px;
				margin: 0 auto;
				th, td{
					text-align: center;
				}
				th{
					padding: 10px;
					background: #272727;
					color: #FFFFFF;
				}
				td{
					color: #191919;
					border-bottom: 1px solid #191919;
					a{
						text-decoration: none;
						padding: 10px;
						display: block;
						&:hover{
							background: #00bce3;
						}
					}
				}
			}
		}
	}
	#output_folders_new_options{
		width: 400px;
		margin: 10px auto;
		text-align: center;
		a{
			width: 200px;
			padding: 10px;
			background: #272727;
			color: white;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			&:hover{
				background: #00bce3;
			}
		}
	}
}

#output_folders_new_options{
	a{
		width: 300px;
		color: white;
		background: #aaa;
		text-align: center;
		margin: 10px auto;
		display: block;
		font-family: 'Dosis', sans-serif;
		font-size: 16px;
		text-decoration: none;
		text-transform: uppercase;
		padding: 13px 10px;
		&:hover{
			background: #00b0e3;
		}
	}
}

#output_folders_new, #output_folders_edit{
	width: 1000px;
	margin: 0 auto;
	form{
		width:1000px;
		margin: 0 auto;
		#output_folder_client_part{
			width: 1000px;
			margin: 10px auto;
			padding: 10px;
			background: #ccc;
			.of_supplier{
				width: 550px;
				margin: 3px auto;
				padding: 6px;
				overflow: hidden;
				label{
					width: 150px;
					background: #373737;
					padding: 5px;
					text-align: right;
					color: white;
					display: block;
					float: left;
					margin-right: 6px;
				}
				span{
					padding: 5px;
					background: white;
					display: block;
					width: 220px;
					float: left;
					display: none;
				}
				a{
					background: white;
					padding: 5px;
					display: block;
					width: 140px;
					text-align: center;
					float: right;
					text-decoration: none;
					&:hover{
						background: #00b0e3;
						color: white;
					}
				}
				#clnt_id{
					display: block;
				}
				select{
					padding: 5px;
				}
				.forever_hidden{
					display: none;
				}
			}
			&:hover{
				background: #aaa;
			}
		}
		#output_folder_documents_part{
			width: 1000px;
			margin: 0 auto;
			padding: 10px;
			background: #ccc;
			text-align: center;
			.of_doc_item{
				display: inline-block;
				width: 260px;
				padding: 10px;
				margin: 0px 10px;
				background: #bbb;
				.nested_doc_field{
					overflow: hidden;
					padding: 5px;
					text-align: left;
					label{
						width: 88px;
						display: block;
						padding: 6px;
						text-align: right;
						color: white;
						background: #373737;
						float: left;
						margin-right: 6px;
					}
					input[type=text]{
						width: 130px;
					}
					select,input[type=checkbox]{
						margin-top: 8px;
					}
					select, input{
						display: inline-block;
						padding: 6px;
					}
				}
			}
			.of_doc_item:first-child{
				margin-right: 7px;
			}
			#add_doc{
				text-align: center;
				a{
					text-decoration: none;
					padding: 10px;
					margin-top: 10px;
					display: inline-block;
					background: #272727;
					color: white;
					width: 300px;
					text-align: center;
					&:hover{
						background: #00b0e3;
					}
				}
			}
			&:hover{
				background: #aaa;
			}
		}
		#output_folder_detail_part{
			width: 1000px;
			margin: 10px auto;
			padding: 10px;
			background: #ccc;
			text-align: center;
			overflow: hidden;
			.of_doc_detail_item{
				display: inline-block;
				background: #bbb;
				float: left;
				padding: 10px;
				margin: 5px;
				width: 470px;
				.nested_doc_detail_field{
					clear: both;
					text-align: left;
					label{
						width: 150px;
						background: #272727;
						padding: 5px;
						color: white;
						display: block;
						text-align: right;
						float: left;
						margin: 2px 6px 2px 0px;
					}
					input, select{
						padding: 5px;
					}
					.name, .number,input[type=checkbox]{
						width: 285px;
					}
					.sell_price{
						width: 297px;
					}
					.number{
						width: 100px;
					}
					input[type=checkbox]{
						margin-top: 10px;
					}
					.m_part{
						width: 295px;
						position: relative;
						left: -8px;
						float: right;
						span{
							padding: 5px;
							display: block;
							background: white;
							text-align: center;
							margin: 5px 0px;
							cursor: pointer;
							&:hover{
								background: #00b0e3;
								color: white;
							}
						}
					}
					#max_quantity{
						color: red;
					}
				}
			}
			#add_doc_detail{
				clear: both;
				text-align: center;
				a{
					text-decoration: none;
					padding: 10px;
					margin-top: 10px;
					display: inline-block;
					background: #272727;
					color: white;
					width: 300px;
					text-align: center;
					&:hover{
						background: #00b0e3;
					}
				}
			}
			&:hover{
				background: #aaa;
			}
		}
		.forever_hidden{
			display: none;
		}
		#output_folder_submit_link{
			width: 1000px;
			auto: 0px auto;
			text-align: center;
			padding: 10px;
			a{
				text-decoration: none;
				padding: 10px;
				display: inline-block;
				background: #272727;
				color: white;
				width: 300px;
				margin: 0 auto;
				text-align: center;
				&:hover{
					background: #00b0e3;
				}
			}
		}
		#output_folder_submit_button{
			display: none;
		}
	}
}

/* Borrar desde aca */
#output_folders_show{
	width: 900px;
	margin: 0 auto;
	border: 1px solid black;
	padding: 10px;
	background: white;
	h1{
		margin: 3px auto 15px;
		width: 300px;
		text-align: center;
		font-size: 15px;
		font-weight: bold;
		text-transform: uppercase;
	}
	p{
		width: 250px;
		display: block;
		margin: 3px auto;
		b{
			font-weight: bold;
		}
	}
	#document_part{
		width:600px;
		margin: 0 auto;
		text-align: center;
		.doc_row{
			display: inline-block;
			border: 1px solid black;
			padding: 10px;
			margin: 5px;
		}
	}
	#document_detail_part{
		width: 600px;
		margin: 0 auto;
		text-align: center;
		.detail_row{
			display: inline-block;
			border: 1px solid black;
			padding: 10px;
			margin: 5px;
		}
	}
	#output_folders_show_options{
		width: 300px;
		margin: 15px auto 0px;
		text-align: center;
		ul{
			display: inline-block;
			text-align: center;
			overflow: hidden;
			li{
				display: inline-block;
				padding: 5px;
				float: left;
			}
		}
	}
}

#of_product_search .floating_body .new_body {
	form{
		input[type=submit]{
			background: white;
			color: #00b0e3;
			padding: 5px;
			width: 200px;
			margin: 0 auto;
			border: 1px solid white;
			display: block;
			&:hover{
				background: #00bce3;
				border: 1px solid #00bce3;
				color: white;
			}
		}
	}
	#of_product_search_result{
		.of_product_item{
			display: block;
			margin: 10px auto;
			width: 200px;
			padding: 10px;
			img{
				width: 200px;
				margin: 5px auto;
				display: block;
			}
			p{
				width: 200px;
				text-transform: uppercase;
				text-align: center;
			}
			.store_data{
				width: 200px;
				margin: 5px auto;
				display: block;
				ul{
					width: 150px;
					overflow: hidden;
					margin: 5px auto;
					display: block;
					li{
						float: left;
						padding: 5px;
					}
					li:last-child{
						float: right;
						background: red;
						color: white;
						padding: 5px;
					}
				}
			}
			&:hover{
				background: white;
			}
		}
	}
}

#of_client_search, #of_product_search{
	display:none;
}