#products_index{
	width: 1000px;
	margin: 0 auto;
	padding: 10px;
	#products_title{
		width: 1000px;
		h1{
			width: 500px;
			font-size: 30px;
			color: white;
			background: #272727;
			text-align: center;
			text-transform: uppercase;
			padding: 20px;
		}
	}
	#products{
		margin: 10px auto;
		ul{
			overflow: hidden;
			li{
				width: 490px;
				float: left;
				padding: 5px;
				.clickable_product{
					text-decoration: none;
					display: block;
					.product_preview{
						background: #d0d0d0;
						overflow: hidden;
						padding: 10px;
						.image_preview{
							float:left;
							margin-right: 20px;
						}
						.explanation{
							table{
								tr{
									td:first-child{
										background: #aaa;
										padding: 7px;
										text-align: right;
										color: white;
									}
									td{
										padding: 7px;
										color: #333;
									}
								}
							}
						}
					}
				}
				&:hover{
					background: #00b0e3;
				}
			}
		}
	}
	#products_new_options{
		a{
			width: 200px;
			display: block;
			text-align: center;
			text-decoration: none;
			color: white;
			margin: 0 auto;
			padding: 10px;
			background: #272727;
			&:hover{
				background: #00b0e3;
			}
		}
	}
}

#product_new, #products_edit{
	width: 1000px;
	margin: 0 auto;
	padding: 10px;
	#products_title{
		width: 1000px;
		h1{
			width: 500px;
			font-size: 30px;
			color: white;
			background: #272727;
			text-align: center;
			text-transform: uppercase;
			padding: 20px;
		}
	}
	#model_changer_form{
		background: #ccc;
		padding:10px 25px;
		width: 980px;
		margin: 10px auto;
		overflow: hidden;
		.model_changer_form_div{
			margin: 0px 25px;
			display: block;
			float: left;
			width: 300px;
		}
		.model_changer_form_div:first-child{
			float: none;
			background: red;
		}
		#submiting{
			display: none;
		}
		&:hover{
			background: #bbb;
		}
	}
	form{
		width: 700px;
		margin: 0 auto 10px;
		padding: 10px;
		background: #ccc;
		.field{
			display: block;
			margin: 5px auto;
			width: 400px;
			padding: 3px;
			text-align: center;
			label{
				color: white;
			}
			input{
				padding: 10px;
			}
		}
		#current_submit_link{
			a{
				width: 500px;
				background: #272727;
				margin: 10px auto;
				text-decoration: none;
				color: white;
				text-align: center;
				padding: 10px;
				display: block;
				&:hover{
					background: #00b0e3;
					
				}
			}
		}
		#actions{
			display: none;
		}
		&:hover{
			background: #bbb;
		}
	}
	#products_new_options{
		a{
			width: 200px;
			display: block;
			text-align: center;
			text-decoration: none;
			color: white;
			margin: 0 auto;
			padding: 10px;
			background: #272727;
			&:hover{
				background: #00b0e3;
			}
		}
	}
	#products_edit_options{
		width: 300px;
		margin: 15px auto 0px;
		text-align: center;
		ul{
			display: inline-block;
			text-align: center;
			overflow: hidden;
			li{
				display: inline-block;
				padding: 5px;
				float: left;
			}
		}	
	}
}

#products_show{
	width: 1000px;
	margin: 0 auto;
	padding: 10px;
	h1{
		margin: 3px auto 15px;
		width: 300px;
		text-align: center;
		font-size: 15px;
		font-weight: bold;
		text-transform: uppercase;
	}
	// p{
	// 	width: 250px;
	// 	display: block;
	// 	margin: 3px auto;
	// 	b{
	// 		font-weight: bold;
	// 	}
	// }
	#products_show_options{
		width: 300px;
		margin: 15px auto 0px;
		text-align: center;
		ul{
			display: inline-block;
			text-align: center;
			overflow: hidden;
			li{
				display: inline-block;
				padding: 5px;
				float: left;
			}
		}
	}
}