#products_index{
	width: 1000px;
	margin: 0 auto;
	padding: 10px;
	#products_title{
		width: 1000px;
		overflow: hidden;
		h1{
			width: 500px;
			font-size: 30px;
			color: white;
			background: #272727;
			text-align: center;
			text-transform: uppercase;
			padding: 20px;
			float: left;
		}
		div{
			float:right;
			input{
				padding: 10px;
				width: 200px;
				text-align:center;
				margin: 10px;
			}
		}
	}
	#products{
		margin: 10px auto;
		ul{
			overflow: hidden;
			li{
				width: 490px;
				float: left;
				padding: 5px;
				.clickable_product{
					text-decoration: none;
					display: block;
					.product_preview{
						background: #d0d0d0;
						overflow: hidden;
						padding: 10px;
						.image_preview{
							float:left;
							margin-right: 20px;
							width: 200px;
							height: 170px;
						}
						.explanation{
							table{
								tr{
									td:first-child{
										background: #aaa;
										padding: 7px;
										text-align: right;
										color: white;
										width: 70px;
									}
									td{
										padding: 7px;
										color: #333;
										width: 100%;
									}
								}
							}
						}
					}
				}
				&:hover{
					background: #00b0e3;
				}
			}
		}
	}
	#products_new_options{
		a{
			width: 200px;
			display: block;
			text-align: center;
			text-decoration: none;
			color: white;
			margin: 0 auto;
			padding: 10px;
			background: #272727;
			&:hover{
				background: #00b0e3;
			}
		}
	}
}

#product_new, #product_edit{
	width: 1000px;
	margin: 0 auto;
	padding: 10px;
	#products_title{
		width: 1000px;
		h1{
			width: 500px;
			font-size: 30px;
			color: white;
			background: #272727;
			text-align: center;
			text-transform: uppercase;
			padding: 20px;
		}
	}
	#model_changer_form{
		background: #ccc;
		padding:0px 20px;
		width: 980px;
		margin: 10px auto;
		overflow: hidden;
		//text-align: center;
		.model_changer_form_div{
			margin: 10px;
			display: inline-block;
			float: left;
			width: 280px;
			padding: 10px;
			label{
				background: #272727;
				width: 80px;
				text-align: right;
				margin: 5px;
				color: white;
				padding: 5px;
				float: left;
				font-weight: bold;
			}
			input, select{
				margin: 5px;
				padding: 5px;
			}
			input{
				width: 150px;
			}
			select{
				width: 170px;
			}
		}
		#submiting{
			display: none;
		}
		&:hover{
			background: #bbb;
		}
	}
	#new_product, .edit_product{
		width: 980px;
		padding: 20px 20px 10px;
		background: #ccc;
		overflow: hidden;
		#new_product_left_segment{
			float: left;
		}
		#new_product_right_segment{
			width: 510px;
			float: right;
			overflow: hidden;
			padding: 0px 10px 10px 10px;
			margin-bottom: 15px;
			label{
				float: left;
			}
			textarea{
				margin-top: -13px;
				float: right;
			}
		}
		.new_product_form_field{
			padding: 10px;
			overflow: hidden;
			label{
				background: #272727;
				width: 120px;
				text-align: right;
				margin: 5px;
				color: white;
				padding: 5px;
				float: left;
				font-weight: bold;
			}
			input, select{
				padding: 5px;
				margin: 5px;
			}
			#toHide{
				float: right;
				padding: 5px;
				p{
					width: 270px;
				}
			}
		}
		#new_product_submit_link{
			clear: both;
			display: block;
			a{
				width: 500px;
				background: #272727;
				margin: 10px auto;
				text-decoration: none;
				color: white;
				text-align: center;
				padding: 10px;
				display: block;
				&:hover{
					background: #00b0e3;
					
				}
			}
		}
		#new_product_submit_button{
			display: none;
		}
		&:hover{
			background: #bbb;
		}
	}
	#products_new_options{
		a{
			width: 200px;
			display: block;
			text-align: center;
			text-decoration: none;
			color: white;
			margin: 20px auto;
			padding: 10px;
			background: #272727;
			&:hover{
				background: #00b0e3;
			}
		}
	}
	#products_edit_options{
		width: 340px;
		margin: 15px auto 0px;
		text-align: center;
		ul{
			display: inline-block;
			text-align: center;
			overflow: hidden;
			li{
				float: left;
				a{
					display: inline-block;
					background: #272727;
					padding: 5px;
					width: 140px;
					margin: 10px;
					text-decoration: none;
					color: white;
					&:hover{
						background: #00b0e3;
					}
				}
			}
		}	
	}
}

#products_show{
	width: 1000px;
	margin: 0 auto;
	padding: 10px;
	#products_title{
		width: 1000px;
		overflow: hidden;
		h1{
			width: 400px;
			font-size: 30px;
			color: white;
			background: #272727;
			text-align: center;
			text-transform: uppercase;
			padding: 20px;
			float: left;
		}
		#notice {
		  color: white;
		  background: green;
		  width: 300px;
		  text-align: center;
		  padding: 10px;
		  text-transform: uppercase;
		  font-weight: bold;
		  float: right;
		}
	}
	#product_description{
		overflow: hidden;
		width: 900px;
		padding: 20px;
		background: #ccc;
		margin: 10px auto;
		#product_description_left_part{
			float: left;
			#sell_price_part{
				width: 300px;
				margin: 5px auto;
				text-align: center;
				a{
					display: block;
					background: #00b0e3;
					color: white;
					padding: 10px;
					text-decoration: none;
					text-transform: uppercase;
				}
			}
		}
		#product_description_right_part{
			float: right;
			width: 450px;
			.product_description_group{
				overflow: hidden;
				width: 450px;
				padding: 5px;
				.product_description_title{
					float: left;
					width: 150px;
					padding: 10px;
					color: #FFF;
					background: #272727;
					text-align: right;
				}
				.product_description_value{
					float: right;
					width: 260px;
					padding: 10px;
				}
			}
		}
		&:hover{
			background: #bbb;
		}
	}
	#products_show_options{
		width: 530px;
		margin: 15px auto 0px;
		text-align: center;
		ul{
			width: 530px;
			display: inline-block;
			text-align: center;
			overflow: hidden;
			li{
				a{
					display: inline-block;
					background: #272727;
					padding: 5px;
					float: left;
					width: 140px;
					margin: 10px;
					text-decoration: none;
					color: white;
					&:hover{
						background: #00b0e3;
					}
				}
			}
		}
	}
}

.sell_price_title_part{
	width: 1000px;
	overflow: hidden;
	h1{
		width: 400px;
		font-size: 30px;
		color: white;
		background: #272727;
		text-align: center;
		text-transform: uppercase;
		padding: 20px;
		float: left;
	}	
}

#sell_price_show{
	width: 900px;
	margin: 10px auto;
	h1{
		font-size: 16px;
		color: white;
		width: 300px;
		margin: 0 auto;
		padding: 10px;
		background: #505050;
		text-align: center;
		text-transform: uppercase;
	}
	#changeable{
		margin: 10px auto;
		width: 500px;
		h2{
			background: red;
			width: 400px;
			color: white;
			text-align: center;
			margin: 30px auto;
			padding: 5px;
		}
		table{
			width: 500px;
			margin: 0 auto;
			tr{
				th,td{
					padding: 8px;
				}
				th{
					background: #272727;
					color: white;
					text-align: center;
				}
				td{
					text-align: center;
				}
			}
		}
	}
}

#sell_price_register{
	width: 900px;
	margin: 50px auto;
	p{
		background: #272727;
		width: 400px;
		color: white;
		text-align: center;
		margin: 30px auto 10px;
		padding: 10px;
		&:hover{
			background: #00b0e3;
		}
	}
	form{
		display: none;
		width: 600px;
		margin: 0 auto;
		table{
			width: 500px;
			margin: 0 auto;
			tr{
				th,td{
					padding: 8px;
				}
				th{
					background: #272727;
					color: white;
					text-align: center;
				}
				td{
					text-align: center;
				}
			}
		}
		#new_submit_button{
			width: 400px;
			margin: 10px auto;
			text-align: center;
			input{
				width: 200px;
				margin: 0 auto;
				padding: 5px;
				text-align: center;
				border: 1px solid white;
				background: white;
				color: #272727;
				&:hover{
					border: 1px solid #00b0e3;
					color: white;
					background: #00b0e3;
				}
			}
		}
	}
}