#quotation_title_part{
	#quotation_title{
		width: 1000px;
		h1{
			width: 400px;
			font-size: 30px;
			color: white;
			background: #272727;
			text-align: center;
			text-transform: uppercase;
			padding: 20px;
		}
	}
}