.common_title_part{
	.common_title{
		width: 1000px;
		h1{
			width: 400px;
			font-size: 30px;
			color: white;
			background: #272727;
			text-align: center;
			text-transform: uppercase;
			padding: 20px;
		}
	}
}

#sale_process_form{
	width: 1000px;
	margin: 10px auto;
	//background: red;
	padding: 10px;
	form{
		width: 900px;
		margin: 0 auto;
		background: #ccc;
		padding: 10px;
		#sale_process_supplier_part{
			overflow: hidden;
			#real_supplier_data{
				float: left;
				padding: 5px;
				.forever_hidden{
					display: none;
				}
			}
			#click_to_search_client{
				float: right;
				padding: 5px;
				font-weight: bold;
				color: white;
				background: #00b0e3;
				cursor: pointer;
			}
		}
	}
}

.new_box{
	display: none;
	position:absolute;
	top: 50%;
	width: 1000px;
	height: 500px;
	z-index: 100;
	background: #00b0e3;
	margin: -250px auto;
	.box_title{
		overflow: hidden;
		h1{
			float: left;
			padding: 10px;
			font-size: 18px;
			text-transform: uppercase;
			font-weight: bold;
			color: white;
		}
		h2{
			float: right;
			padding: 10px;
			color: white;
			font-size: 18px;
			text-transform: uppercase;
			font-weight: bold;
			cursor: pointer;
			&:hover{
				background: red;
			}
		}
	}
	.box_body{
		padding: 10px;
	}
}

#my_search_client_box{
	.box_body{
		overflow: hidden;
		#text_to_search{
			width: 500px;
			margin: 0 auto;
			text-align: center;
			label{
				display: inline-block;
			}
			input{
				width: 200px;
				display: inline-block;
			}
		}
		#sp_client_data{
			width:800px;
			height: 350px;
			margin: 0 auto;
			//background: red;
			overflow: auto;
			table{
				width: 600px;
				margin: 20px auto;
				tr{
					cursor: pointer;
					th{
						background: #272727;
						color: white;
						padding: 10px;
						&:first-child{
							width: 300px;
						}
						&:last-child{
							width: 200px;
						};
					}
					td{
						padding: 10px;
						text-align: center;
					}
					&:hover{
						background: white;
					}
				}
			}
		}
		#sp_show_new_client_form{
			width: 300px;
			margin: 10px auto;
			background: #505050;
			color: white;
			padding: 10px;
			text-align: center;
			&:hover{
				background: #272727;
			}
		}
		#sp_new_client_form{
			display:none;
		}
	}
}