<table>
	<tr>
		<th>Tipo de Precio</th>
		<th>Valor</th>
	</tr>
	<% data.each do |sp| %>
		<tr>
			<td><%= sp.price_type.name %></td>
			<td><%= sp.sell_price.to_s + " " + sp.money_type.name %></td>
		</tr>
	<% end %>
</table>