<section id="products_edit">
	<h1>Editando Producto</h1>

	<%= render 'form' %>

	<div id="products_edit_options">
		<ul>
			<li><%= link_to 'Mostrar', @product %></li>
			<li><%= link_to 'Volver', products_path %></li>
		</ul>
	</div>	
</section>