<section id="product_new">
	<hgroup id="products_title">
		<h1>Nuevo Producto</h1>
	</hgroup>

	<%= render 'form' %>

	<div id="products_new_options">
		<%= link_to 'Volver', products_path %>
	</div>
</section>