<section id="suppliers_edit">
	<h1>Modificando Proveedor</h1>

	<%= render 'form' %>

	<div id="suppliers_edit_options">
		<ul>
			<li><%= link_to 'Mostrar', @supplier %></li>
			<li><%= link_to 'Volver', suppliers_path %></li>
		</ul>
	</div>
</section>